/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

/* purgecss start ignore */
* {
  @apply leading-normal;
}

.index {
  @apply bg-blue;
}
.exhibitors {
  @apply bg-pink;
}
.programs {
  @apply bg-yellow;
}
.sponsorship {
  @apply bg-green;
}

a {
  @apply underline;
}

h1 {
  @apply text-lg;
}

h2 {
  @apply text-md;
}

.nav__link::before {
  content: "\\\\\\\\";
  letter-spacing: -0.25rem;
}

@screen lg {
  .nav__link:first-child::before {
    content: "";
  }
}
/* purgecss end ignore */
